{% extends 'admin/layout_admin.html.twig' %}

{% block title %}Produk{% endblock %}

{% block stylesheets %}
<link href="{{ asset('assets/admin/extra-libs/datatables.net-bs4/css/dataTables.bootstrap4.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
{# begin:: head #}
<div class="page-breadcrumb">
    <div class="row">
        <div class="col-7 align-self-center">
            <h2 class="page-title text-truncate text-dark font-weight-medium mb-1">{{ halaman }}</h2>
        </div>
    </div>
</div>
{# end:: head #}

{# begin:: body #}
<div class="container-fluid">
    {# begin:: tabel #}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h3 class="card-title">Tabel</h3>
                        </div>
                        <div class="col text-right">
                            <button type="button" class="btn btn-outline-primary btn-sm btn-rounded" data-toggle="modal" data-target="#modalAdd">
                                <i class="fas fa-plus"></i>&nbsp;Tambah
                            </button> 
                        </div>
                    </div>
                    <hr>
                    <div class="table-responsive">
                        <table id="tabel_kurir" class="table table-striped table-bordered display no-wrap" style="width:100%">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Aksi</th>
                                    <th>Nama</th>
                                    <th>Jenis Kelamin</th>
                                    <th>No. Hp</th>
                                    <th>Alamat</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for rows in kurir %}
                                <tr>
                                    <td>{{ loop.index }}.</td>
                                    <td>
                                        <button class="btn btn-outline-danger btn-sm btn-rounded" id="del" data-id="{{ rows.id_users }}">
                                            <i class="fas fa-trash"></i>&nbsp;Hapus
                                        </button>
                                        <button class="btn btn-outline-warning btn-sm btn-rounded" id="res-pass" data-id="{{ rows.id_users }}">
                                            <i class="fas fa-refresh"></i>&nbsp;Reset Password
                                        </button>
                                    </td>
                                    <td>{{ rows.nama }}</td>
                                    <td>{{ (rows.kelamin == null ? "-" : (rows.kelamin == "L" ? "Laki - laki" : "Perempuan")) }}</td>
                                    <td>{{ (rows.telepon == null ? "-" : rows.telepon) }}</td>
                                    <td>{{ (rows.alamat == null ? "-" : rows.alamat) }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {# end:: tabel #}
</div>

{# begin:: modal add #}
<div class="modal fade" id="modalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Tambah {{ halaman }}</h5>
            </div>
            <div class="modal-body">
                <form id="form-add" action="kurir/add" method="post">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('submit') }}">

                    <div class="form-group">
                        <h4 class="card-title">Nama *</h4>
                        <input type="text" class="form-control form-control-sm" name="inpnama" id="inpnama" placeholder="Masukkan Nama" />
                        <br>
                        <h4 class="card-title">Email *</h4>
                        <input type="email" class="form-control form-control-sm" name="inpemail" id="inpemail" placeholder="Masukkan Email" />
                        <br>
                        <h4 class="card-title">Username *</h4>
                        <input type="text" class="form-control form-control-sm" name="inpusername" id="inpusername" placeholder="Masukkan Username" />
                        <br>
                        <h4 class="card-title">Password *</h4>
                        <input type="password" class="form-control form-control-sm" name="inppassword" id="inppassword" placeholder="Masukkan Password" />
                    </div>
                    <button type="button" data-dismiss="modal" class="btn btn-outline-danger btn-sm btn-rounded">
                        <i class="fas fa-close"></i>&nbsp;Close
                    </button>
                    <button type="submit" id="add" class="btn btn-outline-primary btn-sm btn-rounded">
                        <i class="fas fa-save"></i>&nbsp;Simpan
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{# end:: modal add #}

{# end:: body #}
{% endblock %}

{% block javascripts %}
<script src="{{ asset('assets/admin/extra-libs/datatables.net/js/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('assets/admin/dist/js/pages/datatable/datatable-basic.init.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.9.2/parsley.min.js"></script>
<script src="https://cdn.ckeditor.com/4.14.0/standard/ckeditor.js"></script>

<script>
    // untuk datatable
    var untukDataTabel = function() {
        $('#tabel_kurir').DataTable();
    }();

    // untuk tambah data
    var untukTambahData = function() {
        $('#form-add').submit(function(e) {
            e.preventDefault();

            $('#inpnama').attr('required', 'required');
            $('#inpemail').attr('required', 'required');
            $('#inpusername').attr('required', 'required');
            $('#inppassword').attr('required', 'required');

            if ($('#form-add').parsley().isValid() == true) {
                $.ajax({
                    method: $(this).attr('method'),
                    url: $(this).attr('action'),
                    data: new FormData(this),
                    contentType: false,
                    processData: false,
                    dataType: 'json',
                    beforeSend: function() {
                        $('#add').attr('disabled', 'disabled');
                        $('#add').html('<i class="fas fa-spinner"></i>&nbsp;Waiting...');
                    },
                    success: function(data) {
                        swal({
                            title: data.title,
                            text: data.text,
                            icon: data.type,
                            button: data.button,
                        })
                        .then((value) => {
                            location.reload();
                        });
                    }
                })
            }
        });
    }();

    // untuk reset password data
    var untukResetPassData = function() {
        $(document).on('click', '#res-pass', function() {
            var ini = $(this);
            swal({
                title: "Apakah Anda yakin ingin mereset password?",
                text: "Akun yang telah direset tidak dapat dikembalikan!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then((del) => {
                if (del) {
                    $.ajax({
                        type: "post",
                        url: "kurir/res_pass",
                        dataType: 'json',
                        data: {
                            id: ini.data('id')
                        },
                        beforeSend: function () {
                            ini.attr('disabled', 'disabled');
                            ini.html('<i class="fas fa-spinner"></i>&nbsp;Menunggu');
                        },
                        success: function (response) {
                            swal({
                                title: response.title,
                                text: response.text,
                                icon: response.type,
                                button: response.button,
                            })
                            .then((value) => {
                                location.reload();
                            });
                        }
                    });
                } else {
                    return false;
                }
            });
        });
    }();

    // untuk hapus data
    var untukHapusData = function() {
        $(document).on('click', '#del', function() {
            var ini = $(this);

            swal({
                title: "Apakah Anda yakin ingin menghapusnya?",
                text: "Data yang telah dihapus tidak dapat dikembalikan!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then((del) => {
                if (del) {
                    $.ajax({
                        type: "post",
                        url: "kurir/del",
                        dataType: 'json',
                        data: {
                            id: ini.data('id')
                        },
                        beforeSend: function () {
                            ini.attr('disabled', 'disabled');
                            ini.html('<i class="fas fa-spinner"></i>&nbsp;Waiting...');
                        },
                        success: function (data) {
                            swal({
                                title: data.title,
                                text: data.text,
                                icon: data.type,
                                button: data.button,
                            })
                            .then((value) => {
                                location.reload();
                            });
                        }
                    });
                } else {
                    return false;
                }
            });
        });
    }();
</script>
{% endblock %}