<h2>Detail Nota</h2>

<table>
    <tr>
        <td>Kode Order</td>
        <td>{{ data_pemesanan.kd_pemesanan }}</td>
    </tr>
    <tr>
        <td>Nama</td>
        <td>{{ data_pemesanan.nama }}</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>{{ data_pemesanan.email }}</td>
    </tr>
    <tr>
        <td>No. Telepon</td>
        <td>{{ data_pemesanan.telepon }}</td>
    </tr>
    <tr>
        <td>Jenis Kelamin</td>
        <td>{{ (data_pemesanan.kelamin == 'L') ? 'Laki - laki' : 'Perempuan' }}</td>
    </tr>
    <tr>
        <td>Alamat</td>
        <td>{{ data_pemesanan.alamat }}</td>
    </tr>
    <tr>
        <td>Tanggal Pemesanan</td>
        <td>{{ data_pemesanan.tgl_pemesanan|date('d-m-Y') }}</td>
    </tr>
    <tr>
        <td>Jam Pemesanan</td>
        <td>{{ data_pemesanan.tgl_pemesanan|date('H:i:s') }}</td>
    </tr>
</table>

<hr>

<h2>Pembayaran</h2>
<table>
    <tr>
        <td>Metode Pembayaran</td>
        <td>{{ (data_pemesanan.metode_pembayaran == 'c') ? 'COD' : 'Transfer' }}</td>
    </tr>
    <tr>
        <td>Status Pembayaran</td>
        <td>{{ (data_pemesanan.status_pembayaran == 0) ? 'Menunggu Pembayaran' : 'Telah Melakukan Pembayaran' }}</td>
    </tr>
    {% if data_pemesanan.metode_pembayaran == 't' %}
    <tr>
        <td>Bank</td>
        <td>{{ data_pembayaran_detail.nama }}</td>
    </tr>
    <tr>
        <td>Nomor Rekening</td>
        <td>{{ data_pembayaran_detail.rekening }}</td>
    </tr>
    <tr>
        <td>Nama Penyetor</td>
        <td>{{ (data_pembayaran_detail.nama_penyetor == null) ? '-' : data_pembayaran_detail.nama_penyetor }}</td>
    </tr>
    <tr>
        <td>Atas Nama</td>
        <td>{{ (data_pembayaran_detail.atas_nama == null) ? '-' : data_pembayaran_detail.atas_nama }}</td>
    </tr>
    <tr>
        <td>Tanggal Transfer</td>
        <td>{{ (data_pembayaran_detail.tanggal_transfer == null) ? '-' : data_pembayaran_detail.tanggal_transfer|date('d-m-Y') }}
        </td>
    </tr>
    <tr>
        <td>Jam Transfer</td>
        <td>{{ (data_pembayaran_detail.tanggal_transfer == null) ? '-' : data_pembayaran_detail.tanggal_transfer|date('H:i:s') }}
        </td>
    </tr>
    <tr>
        <td>Jumlah Transfer</td>
        <td>{{ (data_pembayaran_detail.jumlah_transfer == null) ? '-' : data_pembayaran_detail.jumlah_transfer|format_rp }}
        </td>
    </tr>
    {% elseif data_pemesanan.metode_pembayaran == 'c' %}
    <tr>
        <td>Nama Bayar</td>
        <td>{{ (data_pembayaran_cod.nama_bayar == null) ? '-' : data_pembayaran_cod.nama_bayar }}</td>
    </tr>
    <tr>
        <td>Jumlah Bayar</td>
        <td>{{ (data_pembayaran_cod.jumlah_bayar == null) ? '-' : data_pembayaran_cod.jumlah_bayar|format_rp }}</td>
    </tr>
    <tr>
        <td>Tanggal Bayar</td>
        <td>{{ (data_pembayaran_cod.tanggal_bayar == null) ? '-' : data_pembayaran_cod.tanggal_bayar|date('d-m-Y') }}
        </td>
    </tr>
    <tr>
        <td>Jam Bayar</td>
        <td>{{ (data_pembayaran_cod.tanggal_bayar == null) ? '-' : data_pembayaran_cod.tanggal_bayar|date('H-i-s') }}
        </td>
    </tr>
    {% endif %}
</table>

<hr>

<h2>Pembelian</h2>

<table border="1" cellspacing="0" style="width: 100%">
    <thead>
        <tr>
            <th>No.</th>
            <th>Nama</th>
            <th>Jumlah</th>
            <th>Harga</th>
            <th>Sub Total</th>
        </tr>
    </thead>
    <tbody>
        {% set sum = 0 %}
        {% for rows in data_pemesanan_detail %}
        {% set sum = sum + rows.sub_total  %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>
                {{ rows.nama }}
            </td>
            <td align="center">
                {{ rows.jumlah }}
            </td>
            <td align="center">
                {{ rows.harga|format_rp }}
            </td>
            <td align="center">
                <span id="sub-total">{{ rows.sub_total|format_rp }}</span>
            </td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="4" align="center">
                Total
            </td>
            <td align="center">
                <span id="total">{{ sum|format_rp }}</span>
            </td>
        </tr>
        <tr>
            <td colspan="4" align="center">
                Grand Total
            </td>
            <td align="center">
                <span id="total">{{ sum|format_rp }}</span>
            </td>
        </tr>
    </tbody>
</table>