{% extends 'layout.html.twig' %}

{% block title %}Produk{% endblock %}

{% block stylesheets %}
<style>
.product .img .desc .meta-prod .btn-keranjang {
    margin: 0 2px;
    width: 60px;
    height: 60px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: transparent;
    color: white;
}
</style>
{% endblock %}


{% block body %}
{# begin:: background #}
<section class="hero-wrap hero-wrap-2" style="background-image: url('{{ asset('assets/user/images/tahu.jpg') }}');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate mb-5 text-center">
                <h2 class="mb-0 bread">Produk</h2>
            </div>
        </div>
    </div>
</section>
{# end:: background #}

<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    {% for rows in produk %}
                    {% set stock_terjual = (rows.stock - rows.jumlah) %}
                    {% set stock = (rows.jumlah_keranjang == null) ? rows.stock - rows.jumlah : stock_terjual - rows.jumlah_keranjang %}
                    <div class="col-lg-4 d-flex" style="padding: 15px;">
                        <div class="card" style="width: 100%">
                            <div class="card-body">
                                <h5 class="card-title">{{ rows.nama }}</h5>
                                <p class="card-text">
                                    {{ stock }}
                                    <br />
                                    Rp. {{ rows.harga|format_rp }}
                                </p>
                                {% if stock > 0 %}
                                <button id="btn-keranjang" type="button" data-idusers="{{ (app.user) ? app.user.id_users : null }}" data-kdproduk="{{ rows.kd_produk }}" class="btn btn-primary"><span class="flaticon-shopping-bag"></span></button>
                                {% endif %}
                                <a href="produk/detail/{{ rows.kd_produk }}" class="btn btn-primary"><span class="flaticon-visibility"></span></a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block javascripts %}
<script>
    // untuk ubah data
    var untukUbahAkun = function() {
        $(document).on('click', '#btn-keranjang', function(e) {
            e.preventDefault();
            var ini = $(this);
            var idUsers = ini.data('idusers');
            var kdProduk = ini.data('kdproduk');

            if (idUsers === '') {
                window.location = 'login/user';
            } else {
                $.ajax({
                    method: 'post',
                    url: '/user/keranjang/add',
                    dataType: 'json',
                    data: {
                        inpidusers: idUsers,
                        inpkdproduk: kdProduk,
                    },
                    beforeSend: function () {
                        ini.attr('disabled', 'disabled');
                    },
                    success: function (data) {
                        window.location = 'user/keranjang';
                    }
                });
            }
        });
    }();
</script>
{% endblock %}