<!-- CSS -->
<style media="screen">
    .judul {
        padding: 4mm;
        text-align: center;
    }

    .nama {
        text-decoration: underline;
        font-weight: bold;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: 0;
        margin-bottom: 5px;
    }

    h3 {
        font-family: times;
    }

    p {
        margin: 0;
    }
</style>
<!-- CSS -->

<div class="judul">
    <table align="center">
        <tr>
            <td align="center">
                <h3>LAPORAN DETAIL PELANGGAN</h3>
                <h3>AIR TAHU SUPER</h3>
            </td>
        </tr>
    </table>
    <hr>
    <h3>Detail Pelanggan</h3>
    <table align="center">
        <tr>
            <td>Nama</td>
            <td>:</td>
            <td>{{ pelanggan.nama }}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>:</td>
            <td>{{ pelanggan.email }}</td>
        </tr>
        <tr>
            <td>No. Hp</td>
            <td>:</td>
            <td>{{ pelanggan.telepon }}</td>
        </tr>
        <tr>
            <td>Jenis Kelamin</td>
            <td>:</td>
            <td>{{ (pelanggan.kelamin == "L" ? "Laki - laki" : "Perempuan") }}</td>
        </tr>
        <tr>
            <td>Alamat</td>
            <td>:</td>
            <td>{{ pelanggan.alamat }}</td>
        </tr>
    </table>

    <br>
    <h3>Detail Order</h3>
    <table align="center" border="1" cellspacing="0">
        <thead>
            <tr>
                <th>No.</th>
                <th>Kode Pemesanan</th>
                <th>Tanggal Pemesanan</th>
                <th>Produk</th>
                <th>Jumlah</th>
                <th>Harga</th>
                <th>Sub Total</th>
            </tr>
        </thead>
        {% set total = 0 %}
        <tbody>
            {% for key, value in data %}
            <tr>
                <td rowspan="{{ value.detail|length + 1 }}">{{ loop.index }}.</td>
                <td rowspan="{{ value.detail|length + 1 }}">{{ value.kd_order }}</td>
                <td rowspan="{{ value.detail|length + 1 }}">{{ value.tgl_pemesanan|date('d-m-Y') }}</td>
                {% for rows in value.detail %}
                    {% set total = total + rows.sub_total  %}
                    <tr>
                        <td>{{ rows.nama }}</td>
                        <td>{{ rows.jumlah }}</td>
                        <td>{{ rows.harga|format_rp }}</td>
                        <td>{{ rows.sub_total|format_rp }}</td>
                    </tr>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th colspan="6" style="text-align: center;">Total</th>
                <th>{{ total|format_rp }}</th>
            </tr>
        </tfoot>
    </table>
</div>