<!-- CSS -->
<style media="screen">
    .judul {
        padding: 4mm;
        text-align: center;
    }

    .nama {
        text-decoration: underline;
        font-weight: bold;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: 0;
        margin-bottom: 5px;
    }

    h3 {
        font-family: times;
    }

    p {
        margin: 0;
    }
</style>
<!-- CSS -->

<div class="judul">
    <table align="center">
        <tr>
            <td align="center">
                <h3>LAPORAN PENJUALAN</h3>
                <h3>AIR TAHU SUPER</h3>
            </td>
        </tr>
    </table>
    <hr>

    <table align="center" border="1">
        <thead>
            <tr>
                <th>Kode Order</th>
                <th>Nama</th>
                <th>Tanggal Pembelian</th>
                <th>Jam Pembelian</th>
                <th>Total Pembelian</th>
                <th>Total Bayar</th>
            </tr>
        </thead>
        {% set tot_pembelian = 0 %}
        {% set tot_bayar = 0 %}

        {% for key, value in pemesanan %}
        <tr>
            <td rowspan="{{ value|length + 1 }}">{{ key }}</td>
            {% for rows in value %}
            {% set tot_pembelian = tot_pembelian + rows.total_pembelian  %}
            {% set tot_bayar = tot_bayar + rows.total_bayar  %}
            <tr>
                <td>{{ rows.kode_order }}</td>
                <td>{{ rows.tanggal_pembelian }}</td>
                <td>{{ rows.jam_pembelian }}</td>
                <td>{{ rows.total_pembelian|format_rp }}</td>
                <td>{{ rows.total_bayar|format_rp }}</td>
            </tr>
            {% endfor %}
        </tr>
        {% endfor %}
        <tr>
            <td colspan="4" style="text-align: center;">Total</td>
            <td>{{ tot_pembelian|format_rp }}</td>
            <td>{{ tot_bayar|format_rp }}</td>
        </tr>
    </table>
</div>