{% extends 'admin/layout_admin.html.twig' %}

{% block title %}Bank{% endblock %}

{% block stylesheets %}
<link href="{{ asset('assets/admin/extra-libs/datatables.net-bs4/css/dataTables.bootstrap4.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
{# begin:: head #}
<div class="page-breadcrumb">
    <div class="row">
        <div class="col-7 align-self-center">
            <h2 class="page-title text-truncate text-dark font-weight-medium mb-1">{{ halaman }}</h2>
        </div>
    </div>
</div>
{# end:: head #}

{# begin:: body #}
<div class="container-fluid">
    {# begin:: form #}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Form</h3>
                    <hr>
                    <form id="form-add" action="bank/add" method="post">
                        
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('submit') }}">
                        <input type="hidden" id="inpidbank">

                        <div class="form-group">
                            <h4 class="card-title">Nama *</h4>
                            <input type="text" class="form-control form-control-sm" name="inpnama" id="inpnama" placeholder="Masukkan Nama Bank" />
                            <div id="error"></div>
                            <br>
                            <h4 class="card-title">Rekening *</h4>
                            <input type="text" class="form-control form-control-sm" name="inprekening" id="inprekening" placeholder="Masukkan Nomor Rekening" />
                            <div id="error"></div>
                        </div>
                        <button type="submit" id="add" class="btn btn-outline-primary btn-sm btn-rounded">
                            <i class="fas fa-plus"></i>&nbsp;Tambah
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {# end:: form #}
    {# begin:: tabel #}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Tabel</h3>
                    <hr>
                    <div class="table-responsive">
                        <table id="tabel_bank" class="table table-striped table-bordered display no-wrap" style="width:100%">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Aksi</th>
                                    <th>Bank</th>
                                    <th>No. Rekening</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for rows in bank %}
                                    <tr>
                                        <td>{{ loop.index }}.</td>
                                        <td>
                                            <button type="button" id="upd" data-id="{{ rows.id_bank }}" class="btn btn-outline-primary btn-sm btn-rounded" style="width: 100%">
                                                <i class="fas fa-edit"></i>&nbsp;Edit
                                            </button>
                                            <div style="padding-top: 5px; padding-bottom: 5px;"></div>
                                            <button type="button" id="del" data-id="{{ rows.id_bank }}" class="btn btn-outline-danger btn-sm btn-rounded" style="width: 100%">
                                                <i class="fas fa-trash"></i>&nbsp;Hapus
                                            </button>
                                        </td>
                                        <td>{{ rows.nama }}</td>
                                        <td>{{ rows.rekening }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {# end:: tabel #}
</div>
{# end:: body #}
{% endblock %}

{% block javascripts %}
<script src="{{ asset('assets/admin/extra-libs/datatables.net/js/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('assets/admin/dist/js/pages/datatable/datatable-basic.init.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.9.2/parsley.min.js"></script>

<script>
    // untuk datatable
    var untukDataTabel = function() {
        $('#tabel_bank').DataTable();
    }();

    // untuk tambah data
    var untukTambahData = function() {
        $('#form-add').submit(function(e) {
            e.preventDefault();

            $('#inpnama').attr('required', 'required');
            $('#inprekening').attr('required', 'required');

            if ($('#form-add').parsley().isValid() == true) {
                $.ajax({
                    method: $(this).attr('method'),
                    url: $(this).attr('action'),
                    data: new FormData(this),
                    contentType: false,
                    processData: false,
                    dataType: 'json',
                    beforeSend: function() {
                        $('#add').attr('disabled', 'disabled');
                        $('#add').html('<i class="fas fa-spinner"></i>&nbsp;Waiting...');
                    },
                    success: function(data) {
                        swal({
                                title: data.title,
                                text: data.text,
                                icon: data.type,
                                button: data.button,
                            })
                            .then((value) => {
                                location.reload();
                            });
                    }
                })
            }
        });
    }();

    // untuk get id
    var untukGetIdData = function() {
        $(document).on('click', '#upd', function() {
            var ini = $(this);

            $.ajax({
                type: "post",
                url: "bank/get",
                dataType: 'json',
                data: {
                    id: ini.data('id')
                },
                beforeSend: function() {
                    ini.attr('disabled', 'disabled');
                    ini.html('<i class="fas fa-spinner"></i>&nbsp;Waiting...');
                },
                success: function(data) {
                    $('form').attr('action', 'bank/upd');
                    $('form').attr('id', 'form-upd');
                    $('#inpidbank').attr('name', 'inpidbank');
                    $('#inpidbank').attr('value', data.id_bank);
                    $('#inpnama').val(data.nama);
                    $('#inprekening').val(data.rekening);
                    $('#add').html('<i class="fas fa-plus"></i>&nbsp;Simpan');
                    ini.removeAttr('disabled');
                    ini.html('<i class="fas fa-edit"></i>&nbsp;Edit');
                }
            });
        });
    }();

    // untuk ubah data
    var untukUbahData = function() {
        $(document).on('submit', '#form-upd', function (e) {
            e.preventDefault();

            $('#inpnama').attr('required', 'required');
            $('#inprekening').attr('required', 'required');

            if ($('#form-upd').parsley().isValid() == true) {
                $.ajax({
                    method: $(this).attr('method'),
                    url: $(this).attr('action'),
                    data: new FormData(this),
                    contentType: false,
                    processData: false,
                    dataType: 'json',
                    beforeSend: function () {
                        $('#add').attr('disabled', 'disabled');
                        $('#add').html('<i class="fas fa-spinner"></i>&nbsp;Waiting...');
                    },
                    success: function (data) {
                        swal({
                            title: data.title,
                            text: data.text,
                            icon: data.type,
                            button: data.button,
                        })
                        .then((value) => {
                            location.reload();
                        });
                    }
                })
            }
        });
    }();

    // untuk hapus data
    var untukHapusData = function() {
        $(document).on('click', '#del', function() {
            var ini = $(this);

            swal({
                title: "Apakah Anda yakin ingin menghapusnya?",
                text: "Data yang telah dihapus tidak dapat dikembalikan!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then((del) => {
                if (del) {
                    $.ajax({
                        type: "post",
                        url: "bank/del",
                        dataType: 'json',
                        data: {
                            id: ini.data('id')
                        },
                        beforeSend: function () {
                            ini.attr('disabled', 'disabled');
                            ini.html('<i class="fas fa-spinner"></i>&nbsp;Waiting...');
                        },
                        success: function (data) {
                            swal({
                                title: data.title,
                                text: data.text,
                                icon: data.type,
                                button: data.button,
                            })
                            .then((value) => {
                                location.reload();
                            });
                        }
                    });
                } else {
                    return false;
                }
            });
        });
    }();
</script>
{% endblock %}