{% extends 'admin/layout_admin.html.twig' %}

{% block title %}Produk{% endblock %}

{% block stylesheets %}
<link href="{{ asset('assets/admin/extra-libs/datatables.net-bs4/css/dataTables.bootstrap4.css') }}" rel="stylesheet"/>

<style>
    .tracking-detail {
        padding: 3rem 0
    }

    #tracking {
        margin-bottom: 1rem
    }

    [class*=tracking-status-] p {
        margin: 0;
        font-size: 1.1rem;
        color: #fff;
        text-transform: uppercase;
        text-align: center
    }

    [class*=tracking-status-] {
        padding: 1.6rem 0
    }

    .tracking-status-intransit {
        background-color: #65aee0
    }

    .tracking-status-outfordelivery {
        background-color: #f5a551
    }

    .tracking-status-deliveryoffice {
        background-color: #f7dc6f
    }

    .tracking-status-delivered {
        background-color: #4cbb87
    }

    .tracking-status-attemptfail {
        background-color: #b789c7
    }

    .tracking-status-error,
    .tracking-status-exception {
        background-color: #d26759
    }

    .tracking-status-expired {
        background-color: #616e7d
    }

    .tracking-status-pending {
        background-color: #ccc
    }

    .tracking-status-inforeceived {
        background-color: #214977
    }

    .tracking-list {
        border: 1px solid #e5e5e5
    }

    .tracking-item {
        border-left: 1px solid #e5e5e5;
        position: relative;
        padding: 2rem 1.5rem .5rem 2.5rem;
        font-size: .9rem;
        margin-left: 3rem;
        min-height: 5rem
    }

    .tracking-item:last-child {
        padding-bottom: 4rem
    }

    .tracking-item .tracking-date {
        margin-bottom: .5rem
    }

    .tracking-item .tracking-date span {
        color: #888;
        font-size: 85%;
        padding-left: .4rem
    }

    .tracking-item .tracking-content {
        padding: .5rem .8rem;
        background-color: #f4f4f4;
        border-radius: .5rem
    }

    .tracking-item .tracking-content span {
        display: block;
        color: #888;
        font-size: 85%
    }

    .tracking-item .tracking-icon {
        line-height: 2.6rem;
        position: absolute;
        left: -1.3rem;
        width: 2.6rem;
        height: 2.6rem;
        text-align: center;
        border-radius: 50%;
        font-size: 1.1rem;
        background-color: #fff;
        color: #fff
    }

    .tracking-item .tracking-icon.status-sponsored {
        background-color: #f68
    }

    .tracking-item .tracking-icon.status-delivered {
        background-color: #4cbb87
    }

    .tracking-item .tracking-icon.status-outfordelivery {
        background-color: #f5a551
    }

    .tracking-item .tracking-icon.status-deliveryoffice {
        background-color: #f7dc6f
    }

    .tracking-item .tracking-icon.status-attemptfail {
        background-color: #b789c7
    }

    .tracking-item .tracking-icon.status-exception {
        background-color: #d26759
    }

    .tracking-item .tracking-icon.status-inforeceived {
        background-color: #214977
    }

    .tracking-item .tracking-icon.status-intransit {
        color: #e5e5e5;
        border: 1px solid #e5e5e5;
        font-size: .6rem
    }

    @media(min-width:992px) {
        .tracking-item {
            margin-left: 10rem
        }

        .tracking-item .tracking-date {
            position: absolute;
            left: -10rem;
            width: 7.5rem;
            text-align: right
        }

        .tracking-item .tracking-date span {
            display: block
        }

        .tracking-item .tracking-content {
            padding: 0;
            background-color: transparent
        }
    }
</style>
{% endblock %}

{% block body %}
{# begin:: head #}
<div class="page-breadcrumb">
    <div class="row">
        <div class="col-6 align-self-center">
            <h2 class="page-title text-truncate text-dark font-weight-medium mb-1">Tracking Pemesanan</h2>
        </div>
        <div class="col-6 align-self-center">
            <h2 class="page-title text-truncate text-dark font-weight-medium mb-1">Chat</h2>
        </div>
    </div>
</div>
{# end:: head #}

{# begin:: body #}
<div class="container-fluid">
    <div class="row">
        {# begin:: chat #}
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <div id="tracking">
                        <div class="tracking-list">
                            {% set status_pengantaran = ['Dikemas', 'Dikirim', 'Diterima'] %}
                            {% for rows in tracking %}
                            <div class="tracking-item">
                                <div class="tracking-icon status-intransit">
                                    <svg class="svg-inline--fa fa-circle fa-w-16" aria-hidden="true" data-prefix="fas"
                                        data-icon="circle" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 12 512 512">
                                        <path fill="currentColor"
                                            d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z">
                                        </path>
                                    </svg>
                                    <i class="fas fa-circle"></i>
                                </div>
                                <div class="tracking-date">
                                    {{ rows.ins|date('d-m-Y') }}<span>{{ rows.ins|date('H:i') }}</span>
                                </div>
                                <div class="tracking-content">
                                    Pesanan Anda saat ini sedang : <span>{{ status_pengantaran[rows.status] }}</span>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {# end:: chat #}
        {# begin:: chat #}
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <div class="chat-box scrollable position-relative ps-container ps-theme-default ps-active-y" style="height: calc(100vh - 111px);" data-ps-id="a475d3a6-233d-f8ba-8041-00b453cd6a3b">
                        <!--chat Row -->
                        <ul class="chat-list list-style-none px-3 pt-3">
                            <!--chat Row -->
                            <li class="chat-item list-style-none mt-3">
                                <div class="chat-img d-inline-block"><img src="http://www.emsateknik.com.tr/wp-content/uploads/2018/01/avatar-png-1-450x450.png" alt="user" class="rounded-circle" width="45">
                                </div>
                                <div class="chat-content d-inline-block pl-3">
                                    <h6 class="font-weight-medium">James Anderson</h6>
                                    <div class="msg p-2 d-inline-block mb-1">Lorem
                                        Ipsum is simply
                                        dummy text of the
                                        printing &amp; type setting industry.</div>
                                </div>
                                <div class="chat-time d-block font-10 mt-1 mr-0 mb-3">10:56 am
                                </div>
                            </li>
                            <!--chat Row -->
                            <li class="chat-item list-style-none mt-3">
                                <div class="chat-img d-inline-block"><img src="http://www.emsateknik.com.tr/wp-content/uploads/2018/01/avatar-png-1-450x450.png" alt="user"
                                        class="rounded-circle" width="45">
                                </div>
                                <div class="chat-content d-inline-block pl-3">
                                    <h6 class="font-weight-medium">Bianca Doe</h6>
                                    <div class="msg p-2 d-inline-block mb-1">It’s
                                        Great opportunity to
                                        work.</div>
                                </div>
                                <div class="chat-time d-block font-10 mt-1 mr-0 mb-3">10:57 am
                                </div>
                            </li>
                            <!--chat Row -->
                            <li class="chat-item odd list-style-none mt-3">
                                <div class="chat-content text-right d-inline-block pl-3">
                                    <div class="box msg p-2 d-inline-block mb-1">I
                                        would love to
                                        join the team.</div>
                                    <br>
                                </div>
                            </li>
                            <!--chat Row -->
                            <li class="chat-item odd list-style-none mt-3">
                                <div class="chat-content text-right d-inline-block pl-3">
                                    <div class="box msg p-2 d-inline-block mb-1 box">
                                        Whats budget
                                        of the new project.</div>
                                    <br>
                                </div>
                                <div class="chat-time text-right d-block font-10 mt-1 mr-0 mb-3">
                                    10:59 am</div>
                            </li>
                            <!--chat Row -->
                            <li class="chat-item list-style-none mt-3">
                                <div class="chat-img d-inline-block"><img src="http://www.emsateknik.com.tr/wp-content/uploads/2018/01/avatar-png-1-450x450.png" alt="user"
                                        class="rounded-circle" width="45">
                                </div>
                                <div class="chat-content d-inline-block pl-3">
                                    <h6 class="font-weight-medium">Angelina Rhodes</h6>
                                    <div class="msg p-2 d-inline-block mb-1">Well we
                                        have good budget
                                        for the project
                                    </div>
                                </div>
                                <div class="chat-time d-block font-10 mt-1 mr-0 mb-3">11:00 am
                                </div>
                            </li>
                            <!--chat Row -->
                            <li class="chat-item odd list-style-none mt-3">
                                <div class="chat-content text-right d-inline-block pl-3">
                                    <div class="box msg p-2 d-inline-block mb-1">I
                                        would love to
                                        join the team.</div>
                                    <br>
                                </div>
                            </li>
                            <!--chat Row -->
                            <li class="chat-item odd list-style-none mt-3">
                                <div class="chat-content text-right d-inline-block pl-3">
                                    <div class="box msg p-2 d-inline-block mb-1 box">
                                        Whats budget
                                        of the new project.</div>
                                    <br>
                                </div>
                                <div class="chat-time text-right d-block font-10 mt-1 mr-0 mb-3">
                                    10:59 am</div>
                            </li>
                        </ul>
                        <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
                            <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                        </div>
                        <div class="ps-scrollbar-y-rail" style="top: 0px; right: 3px; height: 509px;">
                            <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 434px;"></div>
                        </div>
                    </div>
                    <div class="card-body border-top">
                        <div class="row">
                            <div class="col-9">
                                <div class="input-field mt-0 mb-0">
                                    <input id="textarea1" placeholder="Type and enter" class="form-control border-0"
                                        type="text">
                                </div>
                            </div>
                            <div class="col-3">
                                <a class="btn-circle btn-lg btn-cyan float-right text-white"
                                    href="javascript:void(0)"><i class="fas fa-paper-plane"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {# end:: chat #}
    </div>
</div>
{# end:: body #}
{% endblock %}

{% block javascripts %}
<script src="{{ asset('assets/admin/extra-libs/datatables.net/js/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('assets/admin/dist/js/pages/datatable/datatable-basic.init.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.9.2/parsley.min.js"></script>
<script src="https://cdn.ckeditor.com/4.14.0/standard/ckeditor.js"></script>

<script>
    // untuk datatable
    var untukDataTabel = function() {
        $('#tabel_kurir').DataTable();
    }();

    // untuk tambah data
    var untukTambahData = function() {
        $('#form-add').submit(function(e) {
            e.preventDefault();

            $('#inpnama').attr('required', 'required');
            $('#inpemail').attr('required', 'required');
            $('#inpusername').attr('required', 'required');
            $('#inppassword').attr('required', 'required');

            if ($('#form-add').parsley().isValid() == true) {
                $.ajax({
                    method: $(this).attr('method'),
                    url: $(this).attr('action'),
                    data: new FormData(this),
                    contentType: false,
                    processData: false,
                    dataType: 'json',
                    beforeSend: function() {
                        $('#add').attr('disabled', 'disabled');
                        $('#add').html('<i class="fas fa-spinner"></i>&nbsp;Waiting...');
                    },
                    success: function(data) {
                        swal({
                            title: data.title,
                            text: data.text,
                            icon: data.type,
                            button: data.button,
                        })
                        .then((value) => {
                            location.reload();
                        });
                    }
                })
            }
        });
    }();

    // untuk reset password data
    var untukResetPassData = function() {
        $(document).on('click', '#res-pass', function() {
            var ini = $(this);
            swal({
                title: "Apakah Anda yakin ingin mereset password?",
                text: "Akun yang telah direset tidak dapat dikembalikan!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then((del) => {
                if (del) {
                    $.ajax({
                        type: "post",
                        url: "kurir/res_pass",
                        dataType: 'json',
                        data: {
                            id: ini.data('id')
                        },
                        beforeSend: function () {
                            ini.attr('disabled', 'disabled');
                            ini.html('<i class="fas fa-spinner"></i>&nbsp;Menunggu');
                        },
                        success: function (response) {
                            swal({
                                title: response.title,
                                text: response.text,
                                icon: response.type,
                                button: response.button,
                            })
                            .then((value) => {
                                location.reload();
                            });
                        }
                    });
                } else {
                    return false;
                }
            });
        });
    }();

    // untuk hapus data
    var untukHapusData = function() {
        $(document).on('click', '#del', function() {
            var ini = $(this);

            swal({
                title: "Apakah Anda yakin ingin menghapusnya?",
                text: "Data yang telah dihapus tidak dapat dikembalikan!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then((del) => {
                if (del) {
                    $.ajax({
                        type: "post",
                        url: "kurir/del",
                        dataType: 'json',
                        data: {
                            id: ini.data('id')
                        },
                        beforeSend: function () {
                            ini.attr('disabled', 'disabled');
                            ini.html('<i class="fas fa-spinner"></i>&nbsp;Waiting...');
                        },
                        success: function (data) {
                            swal({
                                title: data.title,
                                text: data.text,
                                icon: data.type,
                                button: data.button,
                            })
                            .then((value) => {
                                location.reload();
                            });
                        }
                    });
                } else {
                    return false;
                }
            });
        });
    }();
</script>
{% endblock %}